USE [master]
GO
/****** Object:  Database [CuaHangMayTinh]    Script Date: 17/12/2024 8:59:40 PM ******/
CREATE DATABASE [CuaHangMayTinh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CuaHangMayTinh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL22\MSSQL\DATA\CuaHangMayTinh.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CuaHangMayTinh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL22\MSSQL\DATA\CuaHangMayTinh_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CuaHangMayTinh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CuaHangMayTinh]
GO
/****** Object:  Table [dbo].[CTDonHang]    Script Date: 17/12/2024 8:59:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDonHang](
	[DonHangID] [int] NOT NULL,
	[MTID] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[Gia] [decimal](18, 2) NULL,
 CONSTRAINT [PK_CTDonHang] PRIMARY KEY CLUSTERED 
(
	[DonHangID] ASC,
	[MTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 17/12/2024 8:59:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[DanhMucID] [int] NOT NULL,
	[TenDanhMuc] [nvarchar](100) NULL,
 CONSTRAINT [PK_DanhMuc] PRIMARY KEY CLUSTERED 
(
	[DanhMucID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 17/12/2024 8:59:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[DonHangID] [int] NOT NULL,
	[KhachHangID] [int] NULL,
	[NgayDatHang] [datetime] NULL,
	[TongTien] [decimal](18, 2) NULL,
	[TrangThaiDonHang] [nvarchar](50) NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
	[DiaChiGiaoHang] [nvarchar](255) NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[DonHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 17/12/2024 8:59:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[KhachHangID] [int] NOT NULL,
	[TenKhachHang] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[MatKhau] [char](255) NULL,
	[SoDienThoai] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](255) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[KhachHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIENHE]    Script Date: 17/12/2024 8:59:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIENHE](
	[IDLienHe] [int] NOT NULL,
	[KhachHangID] [int] NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
 CONSTRAINT [PK_LIENHE] PRIMARY KEY CLUSTERED 
(
	[IDLienHe] ASC,
	[KhachHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MT]    Script Date: 17/12/2024 8:59:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT](
	[MTID] [int] NOT NULL,
	[TenSP] [nvarchar](255) NULL,
	[MoTa] [nvarchar](max) NULL,
	[Gia] [decimal](18, 2) NULL,
	[DanhMucID] [int] NULL,
	[SoLuongKho] [int] NULL,
	[ThuongHieu] [nvarchar](100) NULL,
	[ViXuLy] [nvarchar](100) NULL,
	[RAM] [nvarchar](50) NULL,
	[LuuTru] [nvarchar](50) NULL,
	[KichThuocManHinh] [nvarchar](50) NULL,
	[MauSac] [nvarchar](50) NULL,
	[DungLuongPin] [nvarchar](50) NULL,
	[DuongDan] [varchar](100) NULL,
 CONSTRAINT [PK_MT] PRIMARY KEY CLUSTERED 
(
	[MTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[CTDonHang] ([DonHangID], [MTID], [SoLuong], [Gia]) VALUES (1, 1, 1, CAST(15000000.00 AS Decimal(18, 2)))
INSERT [dbo].[CTDonHang] ([DonHangID], [MTID], [SoLuong], [Gia]) VALUES (2, 2, 1, CAST(12000000.00 AS Decimal(18, 2)))
INSERT [dbo].[CTDonHang] ([DonHangID], [MTID], [SoLuong], [Gia]) VALUES (3, 3, 1, CAST(8000000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[DanhMuc] ([DanhMucID], [TenDanhMuc]) VALUES (1, N'Laptop')
INSERT [dbo].[DanhMuc] ([DanhMucID], [TenDanhMuc]) VALUES (2, N'Desktop')
INSERT [dbo].[DanhMuc] ([DanhMucID], [TenDanhMuc]) VALUES (3, N'Tablet')
GO
INSERT [dbo].[DonHang] ([DonHangID], [KhachHangID], [NgayDatHang], [TongTien], [TrangThaiDonHang], [PhuongThucThanhToan], [DiaChiGiaoHang]) VALUES (1, 1, CAST(N'2024-12-04T10:23:20.807' AS DateTime), CAST(15500000.00 AS Decimal(18, 2)), N'Pending', N'Cash on Delivery', N'Hanoi')
INSERT [dbo].[DonHang] ([DonHangID], [KhachHangID], [NgayDatHang], [TongTien], [TrangThaiDonHang], [PhuongThucThanhToan], [DiaChiGiaoHang]) VALUES (2, 2, CAST(N'2024-12-04T10:23:20.807' AS DateTime), CAST(12300000.00 AS Decimal(18, 2)), N'Completed', N'Credit Card', N'HCM City')
INSERT [dbo].[DonHang] ([DonHangID], [KhachHangID], [NgayDatHang], [TongTien], [TrangThaiDonHang], [PhuongThucThanhToan], [DiaChiGiaoHang]) VALUES (3, 3, CAST(N'2024-12-04T10:23:20.807' AS DateTime), CAST(8100000.00 AS Decimal(18, 2)), N'Cancelled', N'Bank Transfer', N'Danang')
GO
INSERT [dbo].[KhachHang] ([KhachHangID], [TenKhachHang], [Email], [MatKhau], [SoDienThoai], [DiaChi]) VALUES (1, N'Nguyen Van A', N'nguyenvana@gmail.com', N'1                                                                                                                                                                                                                                                              ', N'0901234567', N'Hanoi')
INSERT [dbo].[KhachHang] ([KhachHangID], [TenKhachHang], [Email], [MatKhau], [SoDienThoai], [DiaChi]) VALUES (2, N'Tran Thi B', N'tranthib@gmail.com', N'1                                                                                                                                                                                                                                                              ', N'0902345678', N'HCM City')
INSERT [dbo].[KhachHang] ([KhachHangID], [TenKhachHang], [Email], [MatKhau], [SoDienThoai], [DiaChi]) VALUES (3, N'Le Van C', N'levanc@gmail.com', N'1                                                                                                                                                                                                                                                              ', N'0903456789', N'Danang')
GO
INSERT [dbo].[LIENHE] ([IDLienHe], [KhachHangID], [NoiDung]) VALUES (1, 6, N'tốt')
INSERT [dbo].[LIENHE] ([IDLienHe], [KhachHangID], [NoiDung]) VALUES (1, 7, N'sản phẩm đúng chất lượng')
INSERT [dbo].[LIENHE] ([IDLienHe], [KhachHangID], [NoiDung]) VALUES (1, 8, N'sản phẩm tốt')
GO
INSERT [dbo].[MT] ([MTID], [TenSP], [MoTa], [Gia], [DanhMucID], [SoLuongKho], [ThuongHieu], [ViXuLy], [RAM], [LuuTru], [KichThuocManHinh], [MauSac], [DungLuongPin], [DuongDan]) VALUES (1, N'Laptop ABC', N'Model 2023, Lightweight', CAST(15000000.00 AS Decimal(18, 2)), 1, 15, N'Dell', N'Intel Core i5', N'8GB', N'256GB SSD', N'15.6 inches', N'Black', N'4500mAh', N'anh1.jpg')
INSERT [dbo].[MT] ([MTID], [TenSP], [MoTa], [Gia], [DanhMucID], [SoLuongKho], [ThuongHieu], [ViXuLy], [RAM], [LuuTru], [KichThuocManHinh], [MauSac], [DungLuongPin], [DuongDan]) VALUES (2, N'Desktop XYZ', N'High performance', CAST(12000000.00 AS Decimal(18, 2)), 2, 28, N'HP', N'Intel Core i7', N'16GB', N'512GB SSD', N'27 inches', N'Silver', N'15000mp', N'anh3.jpg')
INSERT [dbo].[MT] ([MTID], [TenSP], [MoTa], [Gia], [DanhMucID], [SoLuongKho], [ThuongHieu], [ViXuLy], [RAM], [LuuTru], [KichThuocManHinh], [MauSac], [DungLuongPin], [DuongDan]) VALUES (3, N'Tablet Z10', N'High %battery', CAST(8000000.00 AS Decimal(18, 2)), 3, 27, N'Samsung', N'Exynos', N'4GB', N'64GB', N'10 inches', N'White', N'6000mAh', N'anh3.jpg')
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (getdate()) FOR [NgayDatHang]
GO
ALTER TABLE [dbo].[CTDonHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDonHang_DonHangID] FOREIGN KEY([DonHangID])
REFERENCES [dbo].[DonHang] ([DonHangID])
GO
ALTER TABLE [dbo].[CTDonHang] CHECK CONSTRAINT [FK_CTDonHang_DonHangID]
GO
ALTER TABLE [dbo].[CTDonHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDonHang_MTID] FOREIGN KEY([MTID])
REFERENCES [dbo].[MT] ([MTID])
GO
ALTER TABLE [dbo].[CTDonHang] CHECK CONSTRAINT [FK_CTDonHang_MTID]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_KhachHangID] FOREIGN KEY([KhachHangID])
REFERENCES [dbo].[KhachHang] ([KhachHangID])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_KhachHangID]
GO
ALTER TABLE [dbo].[LIENHE]  WITH CHECK ADD  CONSTRAINT [FK_LIENHE_KHACHHANG] FOREIGN KEY([KhachHangID])
REFERENCES [dbo].[KhachHang] ([KhachHangID])
GO
ALTER TABLE [dbo].[LIENHE] CHECK CONSTRAINT [FK_LIENHE_KHACHHANG]
GO
ALTER TABLE [dbo].[MT]  WITH CHECK ADD  CONSTRAINT [FK_MT_DanhMucID] FOREIGN KEY([DanhMucID])
REFERENCES [dbo].[DanhMuc] ([DanhMucID])
GO
ALTER TABLE [dbo].[MT] CHECK CONSTRAINT [FK_MT_DanhMucID]
GO
/****** Object:  StoredProcedure [dbo].[CapNhatKhoDuaTrenDonHang]    Script Date: 17/12/2024 8:59:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[CapNhatKhoDuaTrenDonHang] 
    @DonHangID INT
AS
BEGIN
    DECLARE @MTID INT, @SoLuong INT, @SoLuongKho INT;

    -- Cursor CTDonHang
    DECLARE cur CURSOR FOR
    SELECT MTID, SoLuong
    FROM CTDonHang
    WHERE DonHangID = @DonHangID;

    OPEN cur;
    FETCH NEXT FROM cur INTO @MTID, @SoLuong;

    WHILE @@FETCH_STATUS = 0
    BEGIN

        SELECT @SoLuongKho = SoLuongKho
        FROM MT
        WHERE MTID = @MTID;

        IF @SoLuongKho < @SoLuong
        BEGIN
            PRINT 'KHONG DU SO LUONG MTID ' + CAST(@MTID AS NVARCHAR(10));

            ROLLBACK TRANSACTION; 
            BREAK;
        END
        ELSE
        BEGIN

            UPDATE MT
            SET SoLuongKho = SoLuongKho - @SoLuong
            WHERE MTID = @MTID;

            PRINT 'SO LUONG DUOC CAP NHAT MTID ' + CAST(@MTID AS NVARCHAR(10));
        END

        FETCH NEXT FROM cur INTO @MTID, @SoLuong;
    END

    CLOSE cur;
    DEALLOCATE cur;
END;
GO
USE [master]
GO
